$first-bg-color: #070e21;
$second-bg-color: #f8f9ff;
$third-bg-color: #150f68;
$fourth-bg-color: #2c23af;

$first-font-color: #ffffde;
$second-font-color: #000000;

$fifth-font-color: #2c23af;
$fourth-font-color: #150f68;

$first-shadow-color: #150f6893;
$second-shadow-color: #9695b68e;
