@use 'colors' as *;
a {
	text-decoration: none;
	color: var(--second-font-color, $second-font-color);
	&:active {
		color: $fifth-font-color;
	}
}
ul {
	list-style: none;
}
button {
	background-color: transparent;
}
h1,
h2,
h3,
h4 {
	font-family: 'Roboto Mono', monospace;
}
h2,
h3,
h4 {
	color: var(--second-font-color, $second-font-color);
}
h2 {
	padding: 4rem;
	text-transform: uppercase;
	font-size: 4rem;
}
p {
	font-size: 1.6rem;
}
section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.line {
	height: 1px;
	width: 100%;
	background: var(--second-font-color, $second-font-color);
	margin: 2rem 0;
}
span.blinker {
	animation: blinker 0.8s linear infinite;
}
